You can find and download the original python-mysql connector [HERE](https://pypi.org/project/mysql-connector-python/)

# MySQL Connector Setup

## Test MySQL Connector

In [1]:
import mysql.connector

## Login Data

In [2]:
user="admin"
passwd="password"

## Create Connection

In [164]:
def connect_base(user, passwd):
    import mysql.connector
    mydb = mysql.connector.connect(user=user, passwd=passwd)
    print(f'Successfully connected to MySQL')
    return mydb

## Connect to specific Database

In [3]:
db_name = "mydatabase"

In [4]:
def connect_db(user, passwd, db_name):
    import mysql.connector
    mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)
    print(f'Successfully connected to: {db_name}')
    return mydb

In [9]:
connect_db(user, passwd, db_name)

Successfully connected to: mydatabase

# MySQL Create Database

## Creating a Database

In [150]:
def create_db(mydb, db_name):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
    print(mycursor)
    print(f'DB created: {db_name}')
    return mycursor

In [165]:
# Error if already created
#create_db(mydb, db_name)

## Check if Database Exists

In [162]:
def show_db(mydb):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute("SHOW DATABASES")
    print('Databases listed:')
    for x in mycursor:
        print(x)
    return mycursor

In [163]:
show_db(mydb)

Databases listed:
('information_schema',)
('lab_mysql',)
('mydatabase',)
('mysql',)
('performance_schema',)
('publications',)
('sys',)

# MySQL Create Table

## Creating a Table

In [154]:
table_name = 'customers'
table_cols = 'name VARCHAR(255), address VARCHAR(255)'

In [156]:
def create_table(mydb, table_name, table_cols):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute(f"CREATE TABLE {table_name} ({table_cols})")
    print(f'Successfully created table: {table_name}')
    return mycursor

In [166]:
# Error if alread created
#create_table(mydb, table_name, table_cols)

## Creating a Table with specific DB connection

In [ ]:
user="admin"
passwd="password"
db_name = "mydatabase" # only works if previously created
table_name = 'customers'
table_cols = 'name VARCHAR(255), address VARCHAR(255)'

In [18]:
user='admin'
passwd='password'
db_name = 'mydatabase'
table_name = 'churn_table'
table_cols = '''customerID VARCHAR(255),  gender VARCHAR(255),  SeniorCitizen VARCHAR(255),  Partner VARCHAR(255),  Dependents VARCHAR(255),
        tenure VARCHAR(255),  PhoneService VARCHAR(255),  MultipleLines VARCHAR(255),  InternetService VARCHAR(255),
        OnlineSecurity VARCHAR(255),  OnlineBackup VARCHAR(255),  DeviceProtection VARCHAR(255),  TechSupport VARCHAR(255),
        StreamingTV VARCHAR(255),  StreamingMovies VARCHAR(255),  Contract VARCHAR(255),  PaperlessBilling VARCHAR(255),
        PaymentMethod VARCHAR(255),  MonthlyCharges VARCHAR(255),  TotalCharges VARCHAR(255),  Churn  VARCHAR(255)'''

In [16]:
def create_table(user, passwd, db_name, table_name, table_cols):
    import mysql.connector
    mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name)
    mycursor = mydb.cursor()
    mycursor.execute(f"CREATE TABLE {table_name} ({table_cols})")
    print(f'Successfully created table: {table_name}')
    return mycursor

In [19]:
create_table(user, passwd, db_name, table_name, table_cols)

Successfully created table: churn_table

## Check for Tables in DB

In [56]:
def show_tables(mydb):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute("SHOW TABLES")
    print('Tables in current DB:')
    for x in mycursor:
        print(x)
    return mycursor

In [57]:
show_tables(mydb)

Tables in current DB:
('churn_table',)
('customers',)

# MySQL Drop Table

In [20]:
def drop_table(mydb, table_name):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute(f"DROP TABLE {table_name}")
    print(f'Successfully dropped table: {table_name}')
    return mycursor

In [144]:
drop_table(mydb, table_name)

Successfully dropped table: customers

## Primary Key

In [14]:
#will give error when table already exists

#mycursor = mydb.cursor()
#mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [167]:
mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

# MySQL Insert

## Insert Single Value Into Table

In [15]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

1 record inserted.

## Insert Multiple Values Into Table

In [84]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

13 record(s) inserted.

## Insert Multiple Values Into Table from DF

### Read churn.csv

In [7]:
import pandas as pd

In [60]:
df = pd.read_csv('churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### Define DB table columns

In [76]:
print(df.columns,'\n', '\n', 'Shape:',df.shape)

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

 Shape: (7043, 21)

In [ ]:
db_name = 'mydatabase'
table_name = 'churn_table'
table_cols = '''customerID VARCHAR(255),  gender VARCHAR(255),  SeniorCitizen VARCHAR(255),  Partner VARCHAR(255),  Dependents VARCHAR(255),
        tenure VARCHAR(255),  PhoneService VARCHAR(255),  MultipleLines VARCHAR(255),  InternetService VARCHAR(255),
        OnlineSecurity VARCHAR(255),  OnlineBackup VARCHAR(255),  DeviceProtection VARCHAR(255),  TechSupport VARCHAR(255),
        StreamingTV VARCHAR(255),  StreamingMovies VARCHAR(255),  Contract VARCHAR(255),  PaperlessBilling VARCHAR(255),
        PaymentMethod VARCHAR(255),  MonthlyCharges VARCHAR(255),  TotalCharges VARCHAR(255),  Churn  VARCHAR(255)'''

### Convert values into data-tuples

In [65]:
def rows_2_tuples(df):
    val = []
    for x in df.iterrows():
        val.append(tuple(x))
    return val

In [67]:
rows_2_tuples(df)

In [79]:
print(val[:2])

[('7590-VHVEG', 'Female', 0, 'Yes', 'No', 1, 'No', 'No phone service', 'DSL', 'No', 'Yes', 'No', 'No', 'No', 'No', 'Month-to-month', 'Yes', 'Electronic check', 29.85, '29.85', 'No'), ('5575-GNVDE', 'Male', 0, 'No', 'No', 34, 'Yes', 'No', 'DSL', 'Yes', 'No', 'Yes', 'No', 'No', 'No', 'One year', 'No', 'Mailed check', 56.95, '1889.5', 'No')]

In [69]:
import mysql.connector
mycursor = mydb.cursor()

sql = "INSERT INTO churn_table VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

7043 record(s) inserted.

# MySQL Select

In [21]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)

## Selecting Columns

In [21]:
mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

## Using the fetchone() Method

If you are only interested in one row, you can use the fetchone() method.

The fetchone() method will return the first row of the result:

In [11]:

mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

mydb.commit()

print(myresult)

('Peter', 'Lowstreet 4', 1)

# MySQL Where

## Select With a Filter

In [12]:

mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers WHERE address ='Park Lane 38'")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 10)

## Wildcard Characters

In [13]:
mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'One way 98', 8)
('Viola', 'Sideway 1633', 13)

In [14]:
mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 9)

## Prevent SQL Injection

When query values are provided by the user, you should escape the values.

This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

In [15]:
mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name, buffered=True)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Vicky', 'Yellow Garden 2', 9)

# MySQL Update Table

In [16]:

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [17]:
mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected