# Drop Tables (when necessary)

In [5]:
def drop_table(mydb, table_name):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute(f"DROP TABLE {table_name}")
    print(f'Successfully dropped table: {table_name}')
    return mycursor

In [6]:
drop_table(mydb, 'users')

Successfully dropped table: users

In [7]:
drop_table(mydb, 'products')

Successfully dropped table: products

# MySQL Connection

In [1]:
import mysql.connector

In [2]:
user="admin"
passwd="password"
db_name = "mydatabase"

In [3]:
def connect_db(user, passwd, db_name):
    import mysql.connector
    mydb = mysql.connector.connect(user=user, passwd=passwd, database=db_name)
    print(f'Successfully connected to: {db_name}')
    return mydb

In [4]:
mydb = connect_db(user, passwd, db_name)

Successfully connected to: mydatabase

# Create Tables

In [5]:
def create_table(mydb, table_name, table_cols):
    import mysql.connector
    mycursor = mydb.cursor()
    mycursor.execute(f"CREATE TABLE {table_name} ({table_cols})")
    print(f'Successfully created table: {table_name}')
    return mycursor

In [6]:
table_name = 'users'
table_cols = 'id INT(6), name VARCHAR(30), fav INT(6)'

In [7]:
create_table(mydb, table_name, table_cols)

Successfully created table: users

In [8]:
table_name = 'products'
table_cols = 'id INT(6), name VARCHAR(30)'

In [9]:
create_table(mydb, table_name, table_cols)

Successfully created table: products

# Insert Values

## Instert Values into `users`

In [10]:
sql = "INSERT INTO users VALUES (%s, %s, %s)"
val = [
  ('1', 'John', '154'),
  ('2', 'Peter', '154'),
  ('3', 'Amy', '155'),
  ('4', 'Hannah', '0'),
  ('5', 'Michael', '0')
]

In [11]:
import mysql.connector
mycursor = mydb.cursor()

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

5 record(s) inserted.

### Verification

In [12]:
mycursor.execute("SELECT * FROM users")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'John', 154)
(2, 'Peter', 154)
(3, 'Amy', 155)
(4, 'Hannah', 0)
(5, 'Michael', 0)

## Insert Values into `products`

In [13]:
sql = "INSERT INTO products VALUES (%s, %s)"
val = [
  ('154', 'Chocolate Heaven'),
  ('155', 'Tasty Lemons'),
  ('156', 'Vanilla Dreams')
]

In [14]:
import mysql.connector
mycursor = mydb.cursor()

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) inserted.")

3 record(s) inserted.

### Verification

In [15]:
mycursor.execute("SELECT * FROM products")
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(154, 'Chocolate Heaven')
(155, 'Tasty Lemons')
(156, 'Vanilla Dreams')

# INNER JOIN

INNER JOIN Syntax:
```sql
SELECT column_name(s)
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
```

![img_innerjoin](img/img_innerjoin.gif)

You can combine rows from two or more tables, based on a related column between them, by using a JOIN statement.
The two tables can be combined by using users' `fav` field and products' `id` field.

**Question: What are all the people-taste combinations we have?**

In [16]:
mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite \
      FROM users \
      INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')

# LEFT JOIN

INNER JOIN Syntax:
```sql
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
```

![img_leftjoin](img/img_leftjoin.gif)

In the example above, Hannah, and Michael were excluded from the result, that is because INNER JOIN only shows the records where there is a match.
If you want to show all users, even if they do not have a favorite product, use the LEFT JOIN statement.

**Question: List all the people, and tell me which is their favorite ice cream?**

In [17]:
mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite \
      FROM users \
      LEFT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
('Hannah', None)
('Michael', None)

# RIGHT JOIN

INNER JOIN Syntax:
```sql
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;
```

![img_rightjoin](img/img_rightjoin.gif)

If you want to return all products, and the users who have them as their favorite, even if no user have them as their favorite, use the RIGHT JOIN statement.

**Question: List all the tastes, when available which people like them?**

In [18]:
mycursor = mydb.cursor()

sql = "SELECT users.name AS user, products.name AS favorite \
      FROM users \
      RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Chocolate Heaven')
('Peter', 'Chocolate Heaven')
('Amy', 'Tasty Lemons')
(None, 'Vanilla Dreams')

In [23]:
mycursor = mydb.cursor()

sql = "SELECT products.name AS favorite, users.name AS user \
      FROM users \
      RIGHT JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Chocolate Heaven', 'John')
('Chocolate Heaven', 'Peter')
('Tasty Lemons', 'Amy')
('Vanilla Dreams', None)